.App {
  display: grid;
  grid-template-areas:
    'header '
    'nav'
    'main'
    'footer';
  grid-template-rows: 2fr 1fr 9fr 1fr;
  grid-gap: 10px;
  width: 100%;
  max-width: 1000px;
  flex-direction: column;
}

.App-header {
  grid-area: header;
}
.App-main {
  grid-area: main;
  min-height: 90%;
  border: 1px solid white;
}
.App-side {
  grid-area: nav;
  min-height: 90%;
  /* border: 1px solid white; */
}
.App-footer {
  grid-area: footer;
  border: 1px solid white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
